@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Shadows+Into+Light&family=Solitreo&display=swap');

/* font-family: 'Rock Salt', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Solitreo', cursive; */

body {
  margin: 0;
}


.header-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 0 3rem 0;
}

.title-container {
  display: grid;
  align-items: end;
  font-family: "Rock Salt", cursive;
  max-width: 250px;
}

.light-title {
  color: black;
}

.dark-title {
  color: rgb(255, 255, 255);
}

.light-description {
  color: rgb(36, 36, 36);
}

.dark-description {
  color: rgb(215, 215, 215);
}

.page-title {
  font-size: 2rem;
  margin: 0;
}

.page-subtitle {
  font-size: .8rem;
  margin: 0;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  max-height: 200px;
  padding: 1rem;
}

.light-form {
  background-image: radial-gradient(#fff, rgb(235, 235, 235));
  box-shadow: 0px 3px 5px rgb(203, 203, 203);
}

.dark-form {
  background-image: radial-gradient(rgb(145, 145, 145), rgb(65, 65, 65));
  box-shadow: 0px 3px 5px rgb(0, 0, 0);
}

.button-span {
  display: flex;
  align-items: center;
}

.input-span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input {
  border: 2px rgb(255, 255, 255) inset;
  box-shadow: 0px 0px 2px rgb(213, 213, 213);
  padding: .1rem .3rem;
  height: 25px;
}

.cat-button-img {
  height: 30px;
  width: 30px;
  cursor: pointer;

  transition: height width ease-in .3s;
  transition: transform ease-in .5s;
}

.cat-button-img:active {
  height: 33px;
  width: 33px
}

.cat-button-img:hover {
  transform: rotate(180deg);
}


.form-button {
  border: none;
  background: none;
}

.theme-toggle, .cat-button {
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgb(203, 203, 203);
  padding: 0.6rem .8rem;
  font-size: 1em;

  transition: all ease-in .1s;
}

.dark-cat, .dark-toggle {
  background-image: radial-gradient(rgb(145, 145, 145), rgb(65, 65, 65));
  box-shadow: 0px 3px 3px rgb(0, 0, 0);
}

.light-cat, .light-toggle {
  background-image: radial-gradient(#fff, rgb(235, 235, 235));
  box-shadow: 0px 3px 5px rgb(150, 150, 150);
}

.light-icon {
  color:rgb(0, 0, 0);
}

.dark-icon {
  color: rgb(255, 255, 255);
}

.light-toggle:hover{
  box-shadow: 0 1px 3px rgb(58, 58, 58)
}

.light-toggle:active{
  box-shadow: 0 1px 5px rgb(0, 0, 0)
}

.dark-toggle:hover{
  box-shadow: 0 1px 3px rgb(219, 219, 219)
}

.dark-toggle:active{
  box-shadow: 0 1px 5px rgb(255, 255, 255)
}


.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 0 5rem 0;
}

.card-container {
  width: 300px;
  min-height: 250px;
  position: relative;
}

.light-card {
  background-image: radial-gradient(#fff, rgb(235, 235, 235));
  box-shadow: 0px 3px 5px rgb(203, 203, 203);
}

.dark-card {
  background-image: radial-gradient(rgb(145, 145, 145), rgb(65, 65, 65));
  box-shadow: 0px 3px 5px rgb(0, 0, 0);
}

.card-img {
  display: block;
  margin: auto;
  width: 300px;
  height: 175px;
  object-fit: cover;
}

.card-title {
  padding: 1rem 0 .5rem 0;
  letter-spacing: 3px;
  display: flex;
  text-transform: uppercase;
  font-size: 1.7rem;
  justify-content: center;
}

.card-description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 .5rem;
}

.card-nav {
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn {
  padding: 0 5px;
}

.light-btn {
  background-image: radial-gradient(#fff, rgb(235, 235, 235));
  box-shadow: 0px 1px 5px rgb(150, 150, 150);
}

.light-btn:hover {
  color:rgb(123, 123, 123);
}

.light.dropdown {
  background-image: radial-gradient(#fff, rgb(235, 235, 235));
}

.light-dropdown-item {
  color: black;
  background-color: rgb(235, 235, 235);
  box-shadow: 0px 1px 5px rgb(150, 150, 150);
}

.dark-btn {
  background-image: radial-gradient(rgb(70, 70, 70), rgb(29, 29, 29));
  box-shadow: 0px 1px 3px rgb(0, 0, 0);
  color: #fff;
}

.dark-btn:hover {
  color:rgb(164, 164, 164);
}

.dark.dropdown {
  background-image: radial-gradient(rgb(145, 145, 145), rgb(65, 65, 65));
}

.dark-dropdown-item {
  color: #fff;
  background-color: rgb(48, 48, 48);
  box-shadow: 0px 1px 3px rgb(0, 0, 0);
}

.dropdown-menu {
  padding: 0;
  min-width: 2rem;
  border: none;
  border-radius: 10px;
}

.edit-button {
  border-radius: 0px 10px 0 0;
}

.delete-button {
  border-radius: 0 0 10px 10px;
}

.edit-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  flex-wrap: wrap;
  margin: auto;
  padding: 1.2rem 1rem;
  gap: .5rem;
}

.light-label {
  color: black;
  font-size: .8rem;
}

.dark-label {
  color: #fff;
  font-size: .8rem;
}


/* comment stuff */

.comment-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  width: 90%;
}

.card-body {
  padding: .4rem;
}

.comment-button {
  height: 35px;
}